# Supabase Configuration
https://vlcbdamsztzelepuodot.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsY2JkYW1zenR6ZWxlcHVvZG90Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU4MDI3ODcsImV4cCI6MjA3MTM3ODc4N30.diNd8vmI_rZEF1WsA2e0oMRvCQa0DjF_tISSoWZaEYQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsY2JkYW1zenR6ZWxlcHVvZG90Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTgwMjc4NywiZXhwIjoyMDcxMzc4Nzg3fQ.-uRHznL19fb476jGJyXetwe54xGEBsvpsJj5PF0lq58

# Site Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3000
